@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 43% 95%;
    --foreground: 283 100% 10%;
    --card: 285 43% 98%;
    --card-foreground: 283 100% 10%;
    --popover: 285 43% 98%;
    --popover-foreground: 283 100% 10%;
    --primary: 283 100% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 296 47% 90%;
    --secondary-foreground: 283 100% 10%;
    --muted: 296 47% 93%;
    --muted-foreground: 283 100% 25%;
    --accent: 296 47% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 40% 88%;
    --input: 283 40% 90%;
    --ring: 283 100% 42%;
    --chart-1: 283 100% 42%;
    --chart-2: 296 47% 50%;
    --chart-3: 283 60% 60%;
    --chart-4: 296 60% 70%;
    --chart-5: 283 40% 80%;
    --radius: 0.5rem;
    --sidebar-background: 285 30% 99%;
    --sidebar-foreground: 283 100% 10%;
    --sidebar-primary: 283 100% 42%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 285 43% 95%;
    --sidebar-accent-foreground: 283 100% 10%;
    --sidebar-border: 283 40% 92%;
    --sidebar-ring: 283 100% 42%;
  }
  .dark {
    --background: 283 20% 10%;
    --foreground: 0 0% 98%;
    --card: 283 20% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 283 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 100% 62%;
    --primary-foreground: 283 100% 10%;
    --secondary: 296 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 296 20% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 296 47% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 296 20% 25%;
    --input: 296 20% 25%;
    --ring: 283 100% 62%;
    --chart-1: 283 100% 62%;
    --chart-2: 296 47% 50%;
    --chart-3: 283 60% 70%;
    --chart-4: 296 60% 80%;
    --chart-5: 283 40% 90%;
    --sidebar-background: 283 20% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 283 100% 62%;
    --sidebar-primary-foreground: 283 100% 10%;
    --sidebar-accent: 283 20% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 283 20% 20%;
    --sidebar-ring: 283 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
